.portfolio1{
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin:15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.portfolio1__link{
  text-decoration:none;
  width: 500px;
}
.portfolio1__link-img{
  background: transparent;
}
.portfolio1__link-img>img{
  width:100%;
  transition:all 0.5s; 
  -moz-transition:all 0.5s; 
  -webkit-transition:all 0.5s; 
}


// .portfolio1__link-details {
//   display:flex;
//   align-items: flex-end;
//   justify-content: center;
//   background: linear-gradient(to bottom, transparent 75%, rgba(0,0,0,0.8) 80%);
//   bottom: 0;
//   left: 0;
//   opacity: 0;
//   transition: 1000ms opacity;
//   position: absolute;
//   right: 0;
//   top: 0;
//   color: black;
//   }
.portfolio1__link-details2 {
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent  50%);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 1000ms opacity;
    position: absolute;
    right: 0;
    top: 0;
    }

    .portfolio1:hover .portfolio1__link-details2 {
      opacity: 1;
      }

.portfolio1__link-details{
  padding: 10px;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}
  .portfolio1__link-details>h3 {
 color: white;
  }
  
  .portfolio1:hover .portfolio1__link-details {
  opacity: 1;
  }
  .portfolio1:hover .portfolio1__link-img>img {
    transform:scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform:scale(1.4);
  -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.75);
    }



@media only screen and (max-width: 1000px)
{
.portfolio1{
  width: 300px;
}
.portfolio1__link-img>img{
  width:300px;
}
.portfolio1__link-details{
  padding: 5px;
}
.portfolio1__link-details {
  opacity: 1;
  }
  .portfolio1__link-details>h3 {
    font-size: 0.8em;
     }
}