.Skills{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Skills__container-text>p{
    width: 70%;
    color:white ;
    text-align: start;
}

.Skills__container-bar{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0;
}

.Skills__container-bar1{
    justify-items: center;
}
.Skills__container-bar1>ul{
    padding: 0;
    padding-right: 30px;
}


.Skills__container-bar1{
    justify-self: center;
}


.Skills__container-bar1>ul{
    list-style: none;
}
.Skills__container-bar1>ul>li{
    margin: 0;
}

.Skills__container-barImg{
    -moz-animation: spinHorizontal2 .8s linear;
    -o-animation: spinHorizontal2 .8s normal linear;    
    -webkit-animation: spinHorizontal2 .8s normal linear;
    animation: spinHorizontal2 .8s normal linear;
    color:white;
    margin: 0px;
    width: 100px;
    height: 80px;

}
.Skills__container-barImg:hover{
    -moz-animation: spinHorizontal .8s linear;
    -o-animation: spinHorizontal .8s normal linear;    
    -webkit-animation: spinHorizontal .8s normal linear;
    animation: spinHorizontal .8s normal linear;

}

#reactLogo:hover{
    color: #00D8FF ;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
@keyframes spinHorizontal2 {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}


@media only screen and (max-width: 640px)
{
    .Skills__container-bar{
        width: 70%;
    }
    .Skills__container-text>p{
        width: 90%;
    }
    .Skills__container-bar1>ul{
        padding: 0;
    }
    .Skills__container-barImg{
        -moz-animation: none;
        -o-animation: none;    
        -webkit-animation: none;
        animation: none;
    
    }

}